source_env_if_exists ~/infra/.envrc
dotenv

export SERVICE_NAME=digital-server

env_vars_required \
  SUB_DOMAIN \
  \
  APP_S3__ACCESS_KEY \
  APP_S3__SECRET_KEY \
  APP_S3__ENDPOINT_URL \
  \
  TELOXIDE_TOKEN \
  APP_APP__PUBLIC_URL \
  OPENAI_API_KEY
